extends ./partials/layout.jade

block title
    title CSS Grid Layout 

block slides

    article.illustration.illustration--title.cloud.cloud--title
        h1
            p.wrapper CSS Grid Layout 

    article.screen.screen--grid.overlay
        .overlay__abstract.overlay__abstract--right
            h3.overlay__title CSS Grid Layout Module Level 1
            img.overlay__qr(src="images/grid.svg", alt="QRCODE cо ссылкой")
            p
                a.overlay__link(href="https://drafts.csswg.org/css-grid/", data-click=true) https://drafts.csswg.org/css-grid/

    article.screen.screen--draft.overlay
        .overlay__abstract.overlay__abstract--right
            h3.overlay__title CSS Grid Layout Module Level 2
            img.overlay__qr(src="images/draft.svg", alt="QRCODE cо ссылкой")
            p
                a.overlay__link(href="https://drafts.csswg.org/css-grid-2/", data-click=true) https://drafts.csswg.org/css-grid-2/

    //- article
    //-     p материалы для изучения

    article.book.book--full.illustration.illustration--garden.overlay
        .overlay__abstract.overlay__abstract--right
            h1.overlay__title Grid Garden
            img.overlay__qr(src="images/garden.svg", alt="QRCODE cо ссылкой")
            p
                a.overlay__link(href="http://cssgridgarden.com/", data-click=true) http://cssgridgarden.com/

    article.screen.screen--cguide.overlay
        .overlay__abstract.overlay__abstract--right
            h3.overlay__title A Complete Guide to Grid
            img.overlay__qr(src="images/cguide.svg", alt="QRCODE cо ссылкой")
            p
                a.overlay__link(href="https://css-tricks.com/snippets/css/complete-guide-grid/", data-click=true) https://css-tricks.com/snippets/css/complete-guide-grid/

    article.screen.screen--quick.overlay
        .overlay__abstract.overlay__abstract--right
            h4.overlay__title Here's a Super Quick Way to Try out CSS Grid
            img.overlay__qr(src="images/quick.svg", alt="QRCODE cо ссылкой")
            p
                a.overlay__link(href="http://jensimmons.com/post/aug-15-2017/heres-super-quick-way-try-out-css-grid", data-click=true) http://jensimmons.com/post/aug-15-2017/heres-super-quick-way-try-out-css-grid


    article.book.book--full.illustration.illustration--yt.overlay
        .overlay__abstract
            h4.overlay__title Start Using CSS Grid Layouts Today
            img.overlay__qr(src="images/yt.svg", alt="QRCODE cо ссылкой")
            p
                a.overlay__link(href="https://www.youtube.com/watch?v=tjHOLtouElA", data-click=true) https://www.youtube.com/watch?v=tjHOLtouElA

    article.screen.screen--ex.overlay
        .overlay__abstract.overlay__abstract--right
            h4.overlay__title Grid by Example
            img.overlay__qr(src="images/ex.svg", alt="QRCODE cо ссылкой")
            p
                a.overlay__link(href="https://gridbyexample.com/", data-click=true) https://gridbyexample.com/

    article.book.book--brief.illustration.illustration--brief.overlay
        .overlay__abstract.overlay__abstract--right
            h3.overlay__title GET READY FOR CSS GRID LAYOUT
            img.overlay__qr(src="images/getready.svg", alt="QRCODE cо ссылкой")
            p
                a.overlay__link(href="https://abookapart.com/products/get-ready-for-css-grid-layout", data-click=true) https://abookapart.com/products/get-ready-for-css-grid-layout

        
    article.book.book--full.illustration.illustration--full.overlay
        .overlay__abstract.overlay__abstract--right
            h2.overlay__title THE NEW CSS LAYOUT
            img.overlay__qr(src="images/newlayout.svg", alt="QRCODE cо ссылкой")
            p
                a.overlay__link(href="https://abookapart.com/products/the-new-css-layout", data-click=true) https://abookapart.com/products/the-new-css-layout

        
    article.book.book--full.illustration.illustration--rachelandrew.overlay
        .overlay__abstract
            h1.overlay__title Rachel Andrew
            img.overlay__qr(src="images/rachelandrew.svg", alt="QRCODE cо ссылкой")
            p
                a.overlay__link(href="https://rachelandrew.co.uk/", data-click=true) https://rachelandrew.co.uk/

    article.screen.screen--live.overlay
        .overlay__abstract.overlay__abstract--right
            h1.overlay__title CSS-LIVE
            img.overlay__qr(src="images/live.svg", alt="QRCODE cо ссылкой")
            p
                a.overlay__link(href="http://css-live.ru/tag/css3-grid-layout", data-click=true) http://css-live.ru/tag/css3-grid-layout

    //- article
    //-     p поддержка

    article.screen.screen--support
        
    article.screen.screen--support-ie
        
    article.screen.screen--support-next.center.cloud.cloud--ie-next
        h1 
            p.wrapper 17 октября

    //- article
    //-     p свойства

    article.illustration.illustration--grid-scheme
        
    article.center.code-10
        .wrapper
            pre
                code.css.
                    .container {
                        display: grid;
                    }
                    
    article.center.code-1
        .wrapper
            pre
                code.html.
                    &lt;div class="container">
                        &lt;div class="item">&lt;!-- … -->&lt;/div>
                        &lt;div class="item">&lt;!-- … -->&lt;/div>
                        &lt;div class="item">&lt;!-- … -->&lt;/div>
                        &lt;!-- … -->
                        &lt;div class="item">&lt;!-- … -->&lt;/div>
                        &lt;div class="item">&lt;!-- … -->&lt;/div>
                    &lt;/div>

    article.example.example--base-1
        .container
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 

    article.center.code-6
        .wrapper
            pre
                code.css.
                    .container {
                        display: grid;
                        grid-template-columns: 
                            1fr 2fr 1fr 1fr;
                        grid-template-rows: 
                            100px 1fr 1fr 100px;
                    }

    article.example.example--base-2
        .container
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 

    article.center.code-6
        .wrapper
            pre
                code.css.
                    .container {
                        display: grid;
                        grid-template-columns: 
                            repeat(4, 1fr);
                        grid-template-rows: 
                            100px auto 100px 100px;
                    }

    article.example.example--base-3
        .container
            .item
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
    //-         
    //- article.center.code-6
    //-     .wrapper
    //-         pre
    //-             code.css.
    //-                 .container {
    //-                     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    //-                 }
    //- 
    //- article.example.example--base-15
    //-     .container
    //-         .item.item--x
    //-         .item.item--x
    //-         .item.item--x
    //-         .item.item--x

    article.center.code-6
        .wrapper
            pre
                code.css.
                    .container {
                        grid-template: 
                            1fr 50px 1fr 1fr / 
                            100px 3fr 1fr 100px;
                    }

    article.example.example--base-14
        .container
            .item
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 

    article.center.code-10
        .wrapper
            pre
                code.css.
                    .container {
                        grid-gap: 20px;
                    }

    article.example.example--base-13
        .container
            .item
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 

    article.center.code-1
        .wrapper
            pre
                code.html.
                    &lt;div class="container">
                        &lt;div class="item">&lt;!-- … -->&lt;/div>
                        &lt;div class="item">Второй&lt;/div>
                        &lt;div class="item item--first">Первый&lt;/div>
                        &lt;!-- … -->
                        &lt;div class="item">&lt;!-- … -->&lt;/div>
                        &lt;div class="item">&lt;!-- … -->&lt;/div>
                    &lt;/div>

    article.example.example--base-4
        .container
            .item.item--second Второй
            .item.item--first Первый
            .item
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 

    article.center.code-10
        .wrapper
            pre
                code.css.
                    .item--second {
                        order: -1;
                    }

    article.example.example--base-5
        .container
            .item.item--second Второй
            .item.item--first Первый
            .item
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 
            .item 

    article.center.code-1
        .wrapper
            pre
                code.html.
                    &lt;div class="container">
                        &lt;div class="item item--alpha">&alpha;&lt;/div>
                        &lt;div class="item item--omega">&omega;&lt;/div>
                    &lt;/div>

    article.example.example--base-6
        .container
            .item.item--alpha &alpha;
            .item.item--omega &omega;

    article.center.code-7
        .wrapper
            pre
                code.css.
                    .item--alpha {
                        grid-column-start: 3;
                    }
                    .item--omega {
                        grid-row-start: 3;
                    }

    article.example.example--base-7
        .container
            .item.item--alpha &alpha;
            .item.item--omega &omega;

    article.center.code-0
        .wrapper
            pre
                code.css.
                    .item--alpha {
                        grid-column-start: 3;
                        grid-column-end: 5;
                    }
                    .item--omega {
                        grid-row-start: 3;
                        grid-row-end: 5;
                    }

    article.example.example--base-8
        .container
            .item.item--alpha &alpha;
            .item.item--omega &omega;

    article.center.code-0
        .wrapper
            pre
                code.css.
                    .item--alpha {
                        grid-column: 3 / 5;
                    }
                    .item--omega {
                        grid-row: 3 / 5;
                    }

    article.example.example--base-9
        .container
            .item.item--alpha &alpha;
            .item.item--omega &omega;

    article.center.code-0
        .wrapper
            pre
                code.css.
                    .item--alpha {
                        grid-column: 3 / span 2;
                        grid-row: 1 / span 2;
                    }
                    .item--omega {
                        grid-row: 3 / span 2;
                        grid-column: 1 / span 2;
                    }

    article.example.example--base-10
        .container
            .item.item--alpha &alpha;
            .item.item--omega &omega;
            
    article.center.code-0
        .wrapper
            pre
                code.css.
                    .item--alpha {
                        grid-area: 2 / 2 / span 2 / span 3;
                    }
    
    article.example.example--base-11
        .container
            .item.item--alpha &alpha;

    article.center.code-0
        .wrapper
            pre
                code.css.
                    .item--alpha {
                        grid-area: alpha;
                    }
                    .item--omega {
                        grid-area: omega;
                    }
        
    article.center.code-0
        .wrapper
            pre
                code.css.
                    .container {
                        grid-template-areas: 
                            "omega omega alpha ."
                            "omega omega alpha ."
                            ". . alpha ."
                            ". . alpha .";
                    }

    article.example.example--base-12
        .container
            .item.item--alpha &alpha;
            .item.item--omega &omega;

    article.example.example-grid-layout
        .page
            main.main Капитан схватил утконоса и радостноподбросил его в небо. Зверек расправил крылья и взлетел
            nav.nav Навигация
            aside.aside Реклама
            header.header Шапка
            footer.footer Подвал

    article.center.code-1
        .wrapper
            pre
                code.html.
                    &lt;div class="page">
                        &lt;main class="main">Контент&lt;/main>
                        &lt;nav class="nav">Навигация&lt;/nav>
                        &lt;aside class="aside">Реклама&lt;/aside>
                        &lt;header class="header">Шапка&lt;/header>
                        &lt;footer class="footer">Подвал&lt;/footer>
                    &lt;/div>

    article.center.code-1
        .wrapper
            pre
                code.css.
                    .page {
                        display: grid;
                        grid-gap: 0 20px;
                        grid-template-columns: 250px auto 350px;
                        grid-template-rows: 100px auto 100px;
                    }


    article.center.code-1
        .wrapper
            pre
                code.css.
                    .header {
                        grid-row: 1;
                        grid-column: 1/4;
                    }
                    .footer {
                        grid-row: 3;
                        grid-column: 1/4;
                    }

    article.center.code-3
        .wrapper
            pre
                code.css.
                    .nav {
                        grid-row: 2;
                        grid-column: 1;
                    }
                    .main {
                        grid-row: 2;
                        grid-column: 2;
                    }
                    .aside {
                        grid-row: 2;
                        grid-column: 3;
                    }

    article.example.example-grid-layout
        .page
            main.main Капитан схватил утконоса и радостноподбросил его в небо. Зверек расправил крылья и взлетел
            nav.nav Навигация
            aside.aside Реклама
            header.header Шапка
            footer.footer Подвал


    article.center.code-2
        .wrapper
            pre
                code.css.
                    .page {
                        display: grid;
                        grid-gap: 0 20px;
                        grid-template-columns: 250px auto 350px;
                        grid-template-rows: 100px auto 100px;
                        grid-template-areas:
                            "header header header"
                            "nav    main   aside"
                            "footer footer footer";
                    }

    article.center.code-1
        .wrapper
            pre
                code.css.
                    .header { grid-area: header; }
                    .aside { grid-area: aside; }
                    .nav { grid-area: nav; }
                    .main { grid-area: main; }
                    .footer { grid-area: footer; }


    article.example.example-grid-layout-area
        .page
            main.main Капитан схватил утконоса и радостноподбросил его в небо. Зверек расправил крылья и взлетел
            nav.nav Навигация
            aside.aside Реклама
            header.header Шапка
            footer.footer Подвал

    article.center.code-2
        .wrapper
            pre
                code.css.
                    @media (max-width: 900px) {
                        .page {
                            grid-template-areas:
                                "header header header"
                                "nav    main   main"
                                "footer footer footer";
                        }
                    }

    article.example.example-grid-layout-area
        .page.wide-x
            main.main Капитан схватил утконоса и радостноподбросил его в небо. Зверек расправил крылья и взлетел
            nav.nav Навигация
            aside.aside Реклама
            header.header Шапка
            footer.footer Подвал

    article.center.code-2
        .wrapper
            pre
                code.css.
                    @media (max-width: 900px) {
                        .page {
                            grid-template-areas:
                                "header header header"
                                "nav    main   main"
                                "footer footer footer";
                        }
                        .aside {
                            display: none;
                        }
                    }

    article.example.example-grid-layout-area
        .page.wide
            main.main Капитан схватил утконоса и радостноподбросил его в небо. Зверек расправил крылья и взлетел
            nav.nav Навигация
            aside.aside Реклама
            header.header Шапка
            footer.footer Подвал

    article.screen.screen--pinterest

    article.center.code-1
        .wrapper
            pre
                code.html.
                    &lt;main class="products">
                        &lt;article class="product">…&lt;/article>
                        &lt;article class="product">…&lt;/article>
                        &lt;article class="product">…&lt;/article>
                        &lt;article class="product">…&lt;/article>
                        &lt;article class="product">…&lt;/article>
                        …
                    &lt;/main>

    article.center.code-0
        .wrapper
            pre
                code.css.
                    .products {
                        display: grid;
                        grid-gap: 20px;
                        grid-template-columns:
                            repeat(6, 150px);
                    }

    article.center.code-0
        .wrapper
            pre
                code.css.
                  .product--big {
                        …
                        grid-row: span 2;
                        grid-column: span 2;
                        …
                    }

    article.center.code-0
        .wrapper
            pre
                code.css.
                  .product--tall {
                        …
                        grid-row: span 2;
                        …
                    }

    article.screen.screen--grid-1

    article.center.code-0
        .wrapper
            pre
                code.css.
                    .product {
                        …
                        grid-column: span 6;
                        …
                    }

    article.screen.screen--grid-2

    article.center.code-0
        .wrapper
            pre
                code.css.
                    .product {
                        …
                        grid-auto-flow: dense;
                        …
                    }

    article.screen.screen--grid-3

    article.center.code-0
        .wrapper
            pre
                code.css.
                    .banner {
                        …
                        grid-row-start: 2;
                        …
                    }

    article.screen.screen--grid-4

    article.center.code-0
        .wrapper
            pre
                code.css.
                    .banner {
                        …
                        grid-row-start: 2;
                        grid-column-start: 2;
                        …
                    }

    article.screen.screen--grid-5

    article.screen.screen--support-future

    article.contacts.center.qrcode
        .wrapper
            .about-speaker.half
                p.name Антон Немцев
                p.link http://silentimp.info/
                p.twitter @silentimp
                p.email thesilentimp@gmail.com
                p.skype skype: ravencry
            .half
                img(src="images/git.svg", alt="QRCODE cо ссылкой на доклад")

            p
                a(href="https://github.com/SilentImp/LayoutTalk", data-click=true) https://goo.gl/y3lvfc
